:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #020509;
}

.app-shell {
  width: 100%;
  height: 100%;
}

.app-frame {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
